li {

    list-style: none;
    display: block;
    padding: 0px 5px 0px 5px;
  
}


ul{

    float: none;
}


@media screen and (min-width: 360px){

    li{
        display: inline-block;
    }

    ul {
        
        float: right;
        
    }
}